@import url("https://fonts.google.com/share?selection.family=Kurale");
@import url("https://fonts.google.com/share?query=libre+bo");
.background{
    width: 100%;
}

.back{
    text-decoration: none; 
    position: absolute;
    top: 15%;
    left: 2%;
    transform: translate(-5%, -5%);
    color: #562714;
    font-family: "Kurale",;
    font-style: normal;
    font-size: 300%;
}

.type_rum{
    position: absolute;
    top: 22%;
    left: 20%;
    text-decoration: underline;
    transform: translate(-5%, -5%);
    color: #562714;
    font-family: "Kurale",;
    font-style: normal;
    font-size: 400%;
    text-align: center;
}

.name_rum1{
    position: absolute;
    top: 22%;
    /* left: 7%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    font-size: 350%;
    margin-top: 10%;
    font-family: "Libre Bodoni";
    color: #562714;
    text-align: center;
}
.detail_rum1 {
    position: absolute;
    color: #562714;
    top: 45%;
    left: 4%;
    margin-right:55%;
    font-family:"Libre Caslon Display";
    font-size: 150%;
    font-style: normal;
    text-align:justify;
}
.price_rum1{
    
    position: absolute;
    color: #562714;
    top: 67%;
    left: 17%;
    transform: translate(-5%, -5%);
    font-family:"Libre Bodoni";
    font-size: 250%;
    font-style: normal;
    text-align: center;
    
}